* {
  font-family: 'Chelsea Market', cursive;
  padding: 0;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: auto 120px;

  color: darkslategray;
  background-color: ghostwhite;
  padding: 0;
  margin: 0;
  height: 15vh;
}

.title {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;

  overflow: hidden;
  
}

.blacktextlink {
  color: black;
}

ul {
  text-align: right;
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: ghostwhite;
  font-weight: 600;
}

.locate {
  position: absolute;
  top: 16vh;
  right: 10px;
  background: ghostwhite;
  border: solid 1px ;
  border-radius: 4px;
  z-index: 10;
  width: 55px;
}