* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  color: ghostwhite;
  background-color: darkslategrey;
  padding: 0;
  margin: 0;
}

.title {
  text-align: left;
}

ul {
  text-align: right;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: ghostwhite;
  font-weight: 600;
}