* {
  font-family: 'Chelsea Market', cursive;
  padding: 0;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: auto 120px;

  color: darkslategray;
  background-color: ghostwhite;
  padding: 0;
  margin: 0;
  height: 15vh;
}

.title {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;

  overflow: hidden;
  
}

.blacktextlink {
  color: black;
}

ul {
  text-align: right;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: ghostwhite;
  font-weight: 600;
}